  <% if @user.errors.any?%>
        <div class="alert alert-danger" role="alert">
            <%= @user.errors.full_messages%>
        </div>
        
     <% end %>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
<%= form_for @user, url: sessions_path do |f| %>
  <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>

  <div class="form-floating mb-3">
    <%= f.email_field :email, class: "form-control", id: "floatingEmail", placeholder: " " %>
    <%= f.label :email, "Email", class: "form-label" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: " " %>
    <%= f.label :password, "Password", class: "form-label" %>
  </div>
  

  <div class="d-grid gap-2">
  <%= f.submit "Sign In", class: "btn btn-success" %>
   </div>
  
<% end %>
 </div>
  </div>