  <% if @user.errors.any?%>
        <div class="alert alert-danger" role="alert">
            <%= @user.errors.full_messages%>
        </div>
        
     <% end %>


  <%= form_for @user do |f| %>
  <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>

   <div class="form-floating", style="width: 500px; height: 100px; margin-left: 10px;">
    <%= f.text_field :name, class: "form-control", id: "floatingInput", value: @user.name %>
    <%= f.label :name, "Name", class: "form-label", for: "floatingName" %>
  </div>

 <div class="form-floating", style="width: 500px; height: 100px; margin-left: 10px;">
    <%= f.email_field :email, class: "form-control", id: "floatingInput", value: @user.email %>
    <%= f.label :email, "Email", class: "form-label", for: "floatingEmail" %>
  </div>

  <div class="form-floating", style="width: 500px; height: 100px; margin-left: 10px;">
    <%= f.password_field :password, class: "form-control", id: "floatingInput" %>
    <%= f.label :password, "Password", class: "form-label", for: "floatingPassword" %>
  </div>

  <div class="form-floating mb-3" style="margin-left: 10px;">
  <%= f.submit "Register", class: "btn btn-outline-success" %>
   </div>

<% end %>